body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* nav  bar  */
.nav {
    width: 96vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.nav .logo {
    width: 150px;
    height: 43px;
}

.nav .mid {
    display: flex;
    align-items: center;
    gap: 70px;
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 50px;
    width: 23rem;
    height: 10px;
    /* box-sizing: border-box; */
}

.nav .mid .grey {
    color: grey;
}

/* container */

.container .card {
    width: 270px;
    height: 300px;
    /* border: 1px solid; */
    margin: 60px auto;
}

.container .card .house-image {
    width: 100%;
    height: 75%;
    border-radius: 16px;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
}

.container .card .city-para {
    margin-top: 6px;
    margin-bottom: -14px;
}

.container .card .day-para {
    margin-top: -17px;
}

.container {
    width: 91vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 9px;
}

.container .card .text-rating {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.text-rating .rating{
    margin: 10px;
}

/* footer */

.footer{
    width: 100vw;
    height: 50vh;
    background-color: black;
}