* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}
#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: brown;
}
#card {
    /* border: 1px solid black; */
    /* border-radius: 16px; */
    margin: 60px auto;
    width: 500px;
    height: 545px;
    padding: 10px;
}#card:hover{
    transform: rotate(22deg);
    transition-duration: 0.5s;
    transform: scale(1.1);
    box-shadow: 10px 10px 10px 10px;
    border: 1px solid black;
}

#user-profile {
    /* border: 1px solid black; */
    width: 95%;
    height: 12%;
    display: flex;
    align-items: center;
    /* justify-self: end; */
    justify-content: space-between;
}

#left1 {
    width: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 6px;
}

#left1 img {
    width: 23%;
    height: -25%;
    margin: 4px;
    border-radius: 50px;
}

#user-post{
    width: 100%;
    height: 88%;
    /* border: 1px solid black; */
}
#user-post img {
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
    border-radius: 14px;
    /* margin: auto; */
    height: 84%;
}
#icons{
    display: flex;
    justify-content: space-between;
}
#icons #left {
    display: flex;
    gap: 19px;
    margin-top: 10px;
}
#insta-icons{
    font-size: 26px;
}

@media (max-width:728px) {
    html{
        background-color: black;
    }
}

